/* Layout elementos genéricos */
body, html{
    background: #DCDCDC;
    height: 100%;
}


/* Criando Aniimação da tela inicial */

@keyframes animacao-index{
    from{
        background: white;
        border-radius: 50%;
    }

    to{
        background: #DCDCDC;
        border-radius: 50%;
    }
}

#caixaTexto1{
    animation-name: animacao-index;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

header{ 
    background: white;
    /*background: linear-gradient(to bottom, #DCDCDC, white);*/
}

/* IDs */

#navegacao1{
    font-weight: bold;
}

#inicio{
    background: white;
}

#aboutUs{
    height: 100%;
}

/* Classes configurando paralax e textos página AM.html*/

#content{
	text-align: justify;
}

#aboutUs h3{
	text-transform: uppercase;
	color: #111;
	text-align: center;
}


.box1, .box2, .box3{
    position: relative;
    height: 100%;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.box1{
    background-image: url(../img/logoAm.webp);
}

.box2{
    background-image: url(../img/AM1.jpg);
}

.box3{
    background-image: url(../img/AM2.jpg);
}

.titulo{
	position: absolute;
	left: 0;
	top:  45%;
	width: 100%;
	text-align: center;
    /*color: #fff;*/
	padding: 18px;
	font-size: 25px;
}

.box1 span.titulo, .box2 span.titulo, .box3 span.titulo{
    color: #fff;
    background-color: #111;
    padding: 18px;
    font-size: 15px;
}

/* Configurações das caixas */

.box{
    padding: 50px 0;
    border-bottom: 1px solid white;
}


/* Rodapé */

footer{
    background: white;
    background: linear-gradient(to bottom, #DCDCDC, white);
}

footer p a{
    text-decoration: none;
}

/* media querys */

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    h1{
        font-size: 40px;
    }

    h2{
        margin-top: 30px;
        font-size: 30px;
        font-weight: normal;
    }

    #caixaTexto1{
        animation: none;
    }

    #inicio{
        padding: 50px;
    }
 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    h1{
        font-size: 50px;
    }

    h2{
        margin-top: 30px;
        font-size: 40px;
        font-weight: normal;
    }

    #caixaTexto1{
        animation: none;
    }

    #inicio{
        padding: 50px;
    }

    
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    h1{
        font-size: 60px;
    }

    h2{
        margin-top: 30px;
        font-size: 50px;
        font-weight: normal;
    }

    #caixaTexto1{
        animation: none;
    }

    #inicio{
        padding: 50px;
    }

 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    h1{
        font-size: 70px;
    }

    h2{
        margin-top: 30px;
        font-size: 60px;
        font-weight: normal;
    }

 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    h1{
        font-size: 70px;
    }

    h2{
        margin-top: 30px;
        font-size: 60px;
        font-weight: normal;
    }

    #caixaTexto1{
        padding: 10px;
    }
 }





